// color variables

$Violet: hsl(263, 55%, 52%);
$GrayishBlue: hsl(217, 19%, 35%);
$BlackishBlue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(0, 0%, 81%);
$bg-color: hsl(210, 46%, 95%);